.h3 {
  text-shadow:
  -2px 0px 0px rgb(208, 251, 253),
  2px 0px 0px rgb(208, 251, 253),
  0px -2px 0px rgb(208, 251, 253),
  0px 2px 0px rgb(208, 251, 253);
  }


.font {
  font-family : unicorn;

}
@font-face {
  font-family: unicorn;
  src: url("../../../public/fonts/BadUnicornDemoRegular-BVWx.ttf");
}